---
import Tarjeta from "@components/layout/Tarjeta.astro";

import { hoteles } from "@data/hoteles";
---

<div class="container px-6 mx-auto py-16">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    {
      hoteles.map((hotel) => (
        <Tarjeta
          nombre={hotel.nombre}
          lugar={hotel.ubicacion}
          precio={hotel.precio}
          huespedes={hotel.huespedes}
          href={hotel.imagen}
        />
      ))
    }
  </div>
</div>
