---
interface Props {
  img1?: string;
  img2?: string;
  img3?: string;
  img4?: string;
  img5?: string;
}
const { img1, img2, img3, img4, img5  } = Astro.props;
---

<div class="grid grid-cols-2 grid-rows-6 h-[80vh]">
  <img
    class="row-span-3 object-cover w-full h-full p-2 rounded-xl"
    src={img1}
    alt="Imagen Volcan & Café"
  />
  <img
    class="object-cover w-full h-full p-2 row-span-2 rounded-xl"
    src={img2}
    alt="Imagen Volcan & Café"
  />
  <img
    class="object-cover w-full h-full p-2 row-span-2 rounded-xl"
    src={img3}
    alt="Imagen Volcan & Café"
  />
  <img
    class="object-cover w-full h-full p-2 row-span-3 rounded-xl"
    src={img4}
    alt="Imagen Volcan & Café"
  />
  <img
    class="object-cover w-full h-full p-2 row-span-2 rounded-xl"
    src={img5}
    alt="Imagen Volcan & Café"
  />
</div>
