---
import Tarjeta from "./Tarjeta.astro";

import jsonHoteles from "@data/hoteles.json";
---

<div class="container mx-auto px-4 max-w-[1400px] py-8">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    {
      jsonHoteles.hoteles.map((hotel) => (
        <Tarjeta
          nombre={hotel.nombre}
          lugar={hotel.ubicacion}
          precio={`$${hotel.precio}`}
          huespedes={`${hotel.huespedes} huéspedes`}
          href={hotel.img}
        />
      ))
    }
  </div>
</div>
