---
export interface Props {
  nombre?: string;
  lugar?: string;
  precio?: number;
  huespedes?: number;
  href?: string;
}

const { precio, nombre, lugar, href, huespedes } = Astro.props;
---

<div
  class="max-w-[1400px] overflow-hidden bg-white rounded-lg shadow-lg hover:scale-105 duration-200 mb-2 justify-center"
>
  <img class="object-cover w-full h-48 rounded-lg" src={href} alt="Cover" />
  <div class="px-4 py-2">
    <h1 class="text-xl font-bold text-gray-800 uppercase">{nombre}</h1>
    <p class="mt-1 text-sm text-gray-600">
      {lugar}
    </p>
    <p class="mt-1 text-sm text-gray-600">
      {huespedes}
    </p>
  </div>
  <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
    <h1 class="text-lg font-bold text-white">{precio}</h1>
    <button
      class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
      >Más detalles</button
    >
  </div>
</div>
