---
import ProcesarImg from "@components/ProcesarImg.astro";

export interface Props {
  nombre: string;
  lugar: string;
  precio: string;
  huespedes: number;
  href: ImageMetadata;
  detalles: string;
}

const { precio, nombre, lugar, href, huespedes, detalles } = Astro.props;
---

<div
  class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-zinc-100 bg-clip-border text-zinc-800 shadow-lg dark:bg-zinc-700 dark:text-zinc-200 transition-colors"
>
  <div
    class="relative mx-2 mt-2 overflow-hidden rounded-xl bg-blue-zinc-500 bg-clip-border shadow-lg shadow-blue-zinc-500/40 group"
  >
    <ProcesarImg
      img={href}
      alt="Estancias"
      imgClass="h-56 object-cover transition group-hover:scale-125 duration-500 shadow-md"
      calida="mid"
    />
    <div
      class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/20"
    >
    </div>
  </div>
  <div class="p-6">
    <div class="mb-3 flex items-center justify-between">
      <h5
        class="block text-xl font-medium leading-snug tracking-normal antialiased"
      >
        {nombre}
      </h5>
    </div>
    <p class="block text-base leading-relaxed antialiased">
      <span class="text-amber-600 font-bold dark:text-amber-400">
        {lugar}
      </span>
    </p>
    <p class="block text-base leading-relaxed antialiased">
      <span class="text-amber-600 font-bold dark:text-amber-400"
        >{huespedes}
      </span>huespedes
    </p>

    <div class="flex items-center justify-between py-2">
      <span class="font-bold text-amber-600 dark:text-amber-400">${precio}</span
      >
      <button
        class="dark:bg-zinc-500 dark:text-zinc-200 px-2 py-1 text-md font-bold text-zinc-900 transition-colors duration-300 transform bg-zinc-300 rounded hover:bg-zinc-200 focus:bg-zinc-400 focus:outline-none"
      >
        <a href={detalles}>Ver detalles</a></button
      >
    </div>
  </div>
</div>
