---
import ToursTarjeta from "@components/tours/ToursTarjeta.astro";

import jsonVilla from "@data/tours.json";
---

<div class="container px-6 mx-auto py-16 ">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    {
      jsonVilla.tours.map((tour) => (
        <ToursTarjeta
          nombre={tour.nombre}
          distancia={tour.distanciaCaminada}
          precio={tour.precio}
          duracion={tour.duracion}
          href={tour.img}
        />
      ))
    }
  </div>
</div>
