---
import Tarjeta from "@components/layout/Tarjeta.astro";

import jsonVilla from "@data/villas.json";
---

<div class="container mx-auto px-4 max-w-[1400px] py-8">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    {
      jsonVilla.Villas.map((villa) => (
        <Tarjeta
          nombre={villa.nombre}
          lugar={villa.ubicacion}
          precio={`$${villa.precio}`}
          huespedes={`${villa.huespedes} huéspedes`}
          href={villa.img}
        />
      ))
    }
  </div>
</div>
