---
import Tarjeta from "@components/layout/Tarjeta.astro";

import { villas } from "@data/villas";
---

<div class="container px-6 mx-auto py-16">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    {
      villas.map((villa) => (
        <Tarjeta
          nombre={villa.nombre}
          lugar={villa.ubicacion}
          precio={villa.precio}
          huespedes={villa.huespedes}
          href={villa.imagen}
        />
      ))
    }
  </div>
</div>
