---
import Tarjeta from "@components/layout/Tarjeta.astro";

import jsonDescanso from "@data/casasDescanso.json";
---

<div class="container mx-auto px-4 max-w-[1400px] py-8">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    {
      jsonDescanso.CasasDescanso.map((descanso) => (
        <Tarjeta
          nombre={descanso.nombre}
          lugar={descanso.ubicacion}
          precio={`$${descanso.precio}`}
          huespedes={`${descanso.huespedes} huéspedes`}
          href={descanso.img}
        />
      ))
    }
  </div>
</div>
