---
import Tarjeta from "@components/layout/Tarjeta.astro";

import { descanso } from "@data/descanso";
---

<div class="container px-6 mx-auto py-16">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    {
      descanso.map((descanso) => (
        <Tarjeta
          nombre={descanso.nombre}
          lugar={descanso.ubicacion}
          precio={descanso.precio}
          huespedes={descanso.huespedes}
          href={descanso.imagen}
        />
      ))
    }
  </div>
</div>
