---
import Tarjeta from "@components/layout/Tarjeta.astro";

import { cabanas } from "@data/cabanas";
---

<div class="container px-6 mx-auto py-16">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    {
      cabanas.map((cabana) => (
        <Tarjeta
          nombre={cabana.nombre}
          lugar={cabana.ubicacion}
          precio={cabana.precio}
          huespedes={cabana.huespedes}
          href={cabana.imagen}
        />
      ))
    }
  </div>
</div>
