---
import ProcesarImg from "@components/ProcesarImg.astro";
import images from "@data/imagesA";
---

<section>
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-2xl font-semibold text-center dark:text-gray-200 lg:text-3xl"
    >
      Nuestro Equipo
    </h1>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3 xl:justify-center xl:items-center"
    >
      <div class="flex flex-col items-center">
        <ProcesarImg
          imgClass="object-cover w-1/2 rounded-xl aspect-square"
          img={images.snackBar}
          alt="Nuestro equipo"
          calida="mid"
        />
      </div>

      <div class="flex flex-col items-center">
        <ProcesarImg
        imgClass="object-cover w-1/2 rounded-xl aspect-square"
        img={images.shambala}
        alt="Nuestro equipo"
        calida="mid"
      />
      </div>

      <div class="flex flex-col items-center">
        <ProcesarImg
        imgClass="object-cover w-1/2 rounded-xl aspect-square"
        img={images.rafael}
        alt="Nuestro equipo"
        calida="mid"
      />
      </div>

      <div class="flex flex-col items-center">
        <ProcesarImg
        imgClass="object-cover w-1/2 rounded-xl aspect-square"
        img={images.snackClub}
        alt="Nuestro equipo"
        calida="mid"
      />
      </div>

      <div class="flex flex-col items-center">
        <ProcesarImg
        imgClass="object-cover w-1/2 rounded-xl aspect-square"
        img={images.mcEvento}
        alt="Nuestro equipo"
        calida="mid"
      />
      </div>

      <div class="flex flex-col items-center">
        <ProcesarImg
        imgClass="object-cover w-1/2 rounded-xl aspect-square"
        img={images.teo}
        alt="Nuestro equipo"
        calida="mid"
      />
      </div>
    </div>
  </div>
</section>
